.login-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.login-popup {
  background: #fff;
  width: 500px;
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.login-popup h3 {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  letter-spacing: 1px;
  color: #8b1e3f;
}

.login-popup input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.login-popup button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #8b1e3f;
  color: white;
  cursor: pointer;
}

.login-popup button:hover {
  background: #8b1e3f;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 18px;
  cursor: pointer;
}

.Login-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.loginwrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px;
}

.otp-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 15px 0 20px;
}

.otp-input {
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: 1.8px solid #ddd;
  outline: none;
  transition: all 0.2s ease;
}

.otp-input:focus {
  border-color: #8b1e3f;
  box-shadow: 0 0 0 2px rgba(139, 30, 63, 0.2);
}

.center{
  justify-content: center;
  align-items: center;
}